* {
    box-sizing: border-box;
}

html {
    font-size: 8px;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

body {
    --color-fg: rgb(255, 255, 255);
    --color-accent: rgb(0, 138, 113);

    color: var(--color-fg);
    font-family: Inter;
    line-height: 20px;
    font-size: 2rem;

    background: linear-gradient(180deg, rgb(35, 51, 60) 0%, rgb(35, 51, 60) 0.01%, rgb(43, 48, 50) 31.25%) 0 0 / cover;
}

a {
    color: var(--color-fg);
    text-decoration: none;
}

a:hover {
    color: var(--color-fg);
}

.bg-pattern {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: radial-gradient(rgba(2255, 255, 255, 0.1) 9%, transparent 9%) 0 0 / 2vmin 2vmin;
}
