.project-container {
    --width: 100%;
    --flex-direction: row;
    --gap: 1rem;
    flex-wrap: wrap;
}

.project-card {
    height: 32rem;
    width: 37rem;
    border-radius: 1rem;
}

.project-title {
    align-self: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.technology-icon-container {
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;

    display: flex;
    gap: 1rem;
}

.technology-icon {
    width: auto;
    height: 3rem;
}
