.project-container {
    --width: 75%;
    --flex-direction: row;
    --gap: 3rem;
    --content-padding: 2rem;
    margin: 0 auto;
    flex-wrap: wrap;

    place-content: center;
}

.project-card {
    height: 32rem;
    width: 37rem;
    border-radius: 1rem;
}

.project-title {
    align-self: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.technology-icon-container {
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    display: flex;
    gap: 1.5rem;
}

.technology-icon {
    width: auto;
    height: 2.5rem;
}
