---
import type {BlogPostMarkdownInstance} from '$types';
import {BlogPostCard} from '$components';

interface Props {
  posts: BlogPostMarkdownInstance[];
}

const {posts} = Astro.props;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-3">
  {posts.map(post => <BlogPostCard {post}/>)}
</div>
