---
import { getEntry } from 'astro:content'
import { Image } from 'astro:assets'
import '../styles/link.css';

interface Props {
    id: string
}

const { id } = Astro.props;
const {data: {title, icon, link}} = await getEntry('links', id);
---

<a class="link" href={link} title={title} target="_blank">
    <Image class="link-icon" src={import((`../images/icons/${icon}.svg`))} alt={icon}/>
</a>
