---
import {Section, NavbarItem} from '$components';
---

<Section>
  <nav class="flex justify-end gap-x-3 font-medium text-gray-200">
    <NavbarItem url="/blog/" title="Blog"/>
    <NavbarItem url="https://github.com/bennetrr" title="GitHub"/>
  </nav>
</Section>
