---
import {CategoryColors} from '$/types';
import Section from '$/components/atoms/Section.astro';
import {default as GT} from '$/components/atoms/GradientText.astro';
import ProjectCard from '$/components/molecules/ProjectCard.astro';
---

<Section>
  <Fragment slot="title">
    My <GT>Projects</GT>
  </Fragment>

  <div class="flex flex-col gap-6">
    <ProjectCard
      name="WeckPi"
      description="Extensible alarm clock software built for the Raspberry Pi with music streaming and other cool features."
      url="https://github.com/bennetrr/weckpi/tree/dev"
      categories={[
        {name: 'Python', color: CategoryColors.BLUE},
        {name: 'JavaScript', color: CategoryColors.YELLOW},
        {name: 'SvelteKit', color: CategoryColors.ORANGE}
      ]}
    />
  </div>
</Section>
